<!--Задание №5-->
<!--📌 Создать страницу, на которой будет форма для ввода двух-->
<!--чисел и выбор операции (сложение, вычитание, умножение-->
<!--или деление) и кнопка "Вычислить"-->
<!--📌 При нажатии на кнопку будет произведено вычисление-->
<!--результата выбранной операции и переход на страницу с-->
<!--результатом.-->

{% extends 'index1.html' %}

{% block ref %}
        <form action="{{ url_for('suming') }}" method="post">
            <input type="text" num1="text" placeholder="Enter num1">
            <input type="text" num="text" placeholder="Enter num">
            <input type="submit" value="SEND">


        </form>

{% endblock %}